* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background: #f1f5f8;
}

.booklist {
  width: 90vw;
  max-width: 2170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 968px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
